<div id="formContainer">
    <form [formGroup]="credentials" (ngSubmit)="onSubmit()" id="formStyle">
      
      <label for="email"> Correo eléctronico o nombre de usuario </label>
      <input type="text"
            class="form-control"
            placeholder="Correo Electrónico"
            formControlName="email">
      <div *ngIf="credentials.get('email')!.invalid &&
                (credentials.get('email')!.dirty ||
                credentials.get('email')!.touched)"
          class="errorMessage">
        <p *ngIf="credentials.get('email')!.errors?.['required']">
          Campo Obligatorio
        </p>
        <p *ngIf="credentials.get('email')!.errors?.['email']">
          Debe introducir una dirección de correo electrónico
        </p>
      </div>

      <label for="password"> Contraseña </label>
      <input type="password"
            class="form-control"
            placeholder="Contraseña"
            formControlName="password">
      <div *ngIf="credentials.get('password')!.invalid &&
                (credentials.get('password')!.dirty ||
                credentials.get('password')!.touched)"
          class="errorMessage">
        <p *ngIf="credentials.get('password')!.errors?.['required']">
          Campo Obligatorio
        </p>
        <p *ngIf="credentials.get('password')!.errors?.['minlength']">
          Debe tener una longitud mínima de 6 caracteres
        </p>
      </div>

      <button type="submit"
              [disabled]="!credentials.valid">
        Iniciar sesión
      </button>
    </form>
    <label id="wantToRegister">¿No estás registrado? <a routerLink="/register" id="register">Regístrate</a></label>
</div>