<div id="pageContainer">
    <div id="resultado">
        Resultado
    </div>
    <div id="friendsContainer">
        <div class="table-config">
            <div>
                <table class="table">
                    <tr *ngFor="let participant of winners; let i = index">
                        <td><p class="btn">{{ participant.name }}</p></td>
                        <td class="classif">{{ i+1 }}º</td>
                    </tr>
                </table>
            </div>
            <div class="juego">
                <label>Modo de Juego:</label> 
                <label class="label_culo">Culo</label>
            </div>
        </div>
    </div>
</div>
