<p class="appName1">LA BARAJA</p>
<div id="flexContainer">
        <div class="tittleField1">
            <div class="tittleField2">
                <span class="material-icons">
                    list
                </span>
                <strong>RESULTADOS</strong>
                <span class="material-icons" style="transform: rotate(-180deg); align-items: flex-end;">
                    list
                </span>
            </div>
        </div>
    <div id="scoreContainer">
        <div id="userContainer">
            <h2 id="username">USUARIO 1</h2>
            <h3 id="userPosition">1º</h3>
        </div>

        <div id="userContainer">
            <h2 id="username">USUARIO 1</h2>
            <h3 id="userPosition">1º</h3>
        </div>
        
        <div id="userContainer">
            <h2 id="username">USUARIO 1</h2>
            <h3 id="userPosition">1º</h3>
        </div>

        <div id="userContainer">
            <h2 id="username">USUARIO 1</h2>
            <h3 id="userPosition">1º</h3>
        </div>

        <div id="userContainer">
            <h2 id="username">USUARIO 1</h2>
            <h3 id="userPosition">1º</h3>
        </div>
        <div id="GameModeContainer">
            <div id="gameModeTitle">
                <p>MODO DE JUEGO:</p>
            </div>
            <div id="gameModeName">
                <p>CULO</p>
            </div>
        </div>
        <button id="returnButton">VOLVER A LA SALA</button> 
  </div>
  <p class="appName2">LA BARAJA</p>
