<div class="princ">

	<div class="nm-bar-top">
		<label class="lb-bar1">La Baraja</label>
	</div>

	<div class="container">


        <div class="row">
            <div class="logo">
                <img src="https://github.com/Isac-AS/LaBaraja/blob/Raul/website/images/LogoPocho.png?raw=true" alt="" width="200px" height="186px">
            </div>

    		<div class="btm-row">
    			<div class="btm-op">
                    <a href="">
                        <div class="btn-op-sb">
                            <div style="height: 15%;"><img src="./assets/image/triang.png" width="20" height="20"></div>
                            <div style="height: 70%;text-align: center;"><label>Jugar</label></div>
                            <div style="height: 15%; transform: rotate(180deg)"><img src="./assets/image/triang.png" width="20" height="20"></div>
                        </div>
                    </a>	
                </div>	
    		</div>
    		<div class="btm-row">
    			<div class="btm-op">
                    <a href="">
                        <div class="btn-op-sb">
                            <div style="height: 15%;"><img src="./assets/image/users.png" width="20" height="20"></div>
                            <div style="height: 70%;text-align: center;"><label>Amigos</label></div>
                            <div style="height: 15%; transform: rotate(180deg)"><img src="./assets/image/users.png" width="20" height="20"></div>
                        </div>
                    </a>
                </div>	
    		</div>
            
            <div class="btm-row">
    			<div class="btm-op">
                    <a href="">
                        <div class="btn-op-sb">
                            <div style="height: 15%;"><img src="./assets/image/user.png" width="20" height="20"></div>
                            <div style="height: 70%;text-align: center;"><label>Cuenta</label></div>
                            <div style="height: 15%; transform: rotate(180deg)"><img src="./assets/image/user.png" width="20" height="20"></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="btm-row">
                <div class="btm-op">
                    <a href="">
                        <div class="btn-op-sb">
                            <div style="height: 15%;"><img src="./assets/image/config.png" width="20" height="20"></div>
                            <div style="height: 70%;text-align: center;"><label>Ajustes</label></div>
                            <div style="height: 15%; transform: rotate(180deg)"><img src="./assets/image/config.png" width="20" height="20"></div>
                        </div>
                    </a>
                </div>
            </div>
    		
    	</div>
    </div>

	<div class="nm-bar-bottom">
		<label class="lb-bar2">La Baraja</label>
	</div>
	
</div>
