<div id="homePageContainer">
    <img src="https://github.com/Isac-AS/LaBaraja/blob/Raul/website/images/LogoPocho.png?raw=true">

    <div class="twoButtonGroup">
        <button routerLink="/play">
            <span class="material-icons topIcon">play_arrow</span>
            Jugar
            <span class="material-icons bottomIcon">play_arrow</span>
        </button>
        <button routerLink="/friends">
            <span class="material-icons topIcon">people</span>
            Amigos
            <span class="material-icons bottomIcon">people</span>
        </button>
    </div>

    <div class="twoButtonGroup">
        <button routerLink="/account">
            <span class="material-icons topIcon">account_circle</span>
            Cuenta
            <span class="material-icons bottomIcon">account_circle</span>
        </button>
        <button routerLink="/settings">
            <span class="material-icons topIcon" >settings</span>
            Ajustes
            <span class="material-icons bottomIcon" >settings</span>
        </button>
    </div>

</div>