<mat-dialog-content id="dialogContainer">
    <div id="cards">
        <ng-container *ngFor="let element of cardsToDisplay">
            <div class="card" *ngIf="element.isSelected" style="background-color: rgb(211, 76, 76);">
                <img [src]="element.card.imageUrl" (click)="toggleSelection(element)">
            </div>
            <div class="card" *ngIf="!element.isSelected" (click)="toggleSelection(element)">
                <img [src]="element.card.imageUrl">
            </div>
        </ng-container>
    </div>
    <div id="buttonsContainer" *ngIf="game.hasStarted">
        <button (click)="playMove()">
            <span class="material-icons">play_arrow</span>
            Jugar Cartas
        </button>
        <div id="error" *ngIf="error">
            {{ errorMessage }}
        </div>
    </div>
</mat-dialog-content>