#pageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#banner{
    position: relative;
    font-size: 5em;
    box-sizing: border-box;
    border-radius: 15px;
    border: solid 3px black;
    margin: 0.5em;
    padding: 0.6em;
    background-color: #FFFFFF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.topIcon {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
}

.bottomIcon {
    position: absolute;
    right: 1.5%;
    bottom: 1.5%;
    transform: rotate(-180deg);
}

#mainContainer{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    
    margin-top: 1.5%;
    padding: 1em;

    background: #FFFFFF;
    border-radius: 10px;
    width: 50%;
    min-height: 360px;
}

#buttonsContainer {
    display: flex;
    margin-top: 2em;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #15580F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0.4em;
    font-size: 1.4em;
}

#peopleInLobby {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2em;
    width: 90%;
}

.friendRegister {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
}

.friendInfoAndActions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-self: flex-end;
    flex-grow: 2;
    justify-content: flex-end;
}

.friendInfoAndActions .sendInviteButton {
    margin-left: 1em;
}