.appName1{
    position: absolute;
    top: -1.5%;
    left: 1.5%;
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
}

.appName2 {
    position: absolute;
    right: 1.5%;
    bottom: -1.4%;
    font-family: 'IBM Plex Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

    transform: rotate(-180deg);
}