<div id="pageContainer">
    <div id="banner">
        <span class="material-icons topIcon">play_arrow</span>
        SALA
        <span class="material-icons bottomIcon">play_arrow</span>
    </div>

    <div id="mainContainer">
        <div id="buttonsContainer">
            <button routerLink="/home">
                <span class="material-icons">home</span>
            </button>
            <button (click)="openNotificationDialog()">
                <span class="material-icons">inbox</span>
                Buzón
            </button>
            <button (click)="openFriendListDialog()">
                <span class="material-icons">group_add</span>
                Invitar amigos
            </button>
            <button *ngIf="currentUserData.lobby === ''">
                <span class="material-icons">add</span>
                Crear sala
            </button>
        </div>
    </div>
</div>