<main id="pageContainer">
    <p id="appNameTop">LA BARAJA</p>
    <div class="container_sala">
        <header class="background_subheader">
            <div class="border">
                <figure class="margin_logo_top">
                    <span class="material-icons">play_arrow</span>
                </figure>
                <div class="margin_text_subheader">
                    <b class="text_subheader">
                        SALA
                    </b>
                </div>
                
                <figure class="logoSubheaderBottom">
                    <span class="material-icons">play_arrow</span>
                </figure>
            </div>
            
        </header>

        <section class="body_background">
            <div class="text_num_jug">
                <b>1/5</b>
            </div>
            <div id="userContainer" class="margin_user_top">
                <figure class="margin_user">
                    <span class="material-icons size_img_user">
                        account_circle
                    </span>
                </figure>

                <div class="backgroung_user">
                    <div class="text_user">
                        <b>
                            usuario 1
                        </b>
                    </div>
                </div>
            </div>
            <button class="button_add" routerLink="/sala_dialog1">
                +
            </button>
            <form>
                <div id="userContainer" class="margin_modo_juego">
                    <label class="text_modo_juego">
                        <b>Modo de Juego:</b>
                    </label>
                    <select class="size_select">
                        <option value="culo">Culo</option>
                    </select>
                </div>
                <input type="button" class="buttom_jugar text_buttom_jugar center_buttom_jugar" value="Jugar">
            </form>
        </section>
        
    </div>
    <p id="appNameBottom">LA BARAJA</p>
</main>