form {
  display: flex;
  flex-flow: column nowrap;
}


input {
  background: #F0F0F0;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-width: 20em;
  margin: 1% auto 5% auto;
  font-size: 2em;
}

button {
  display: flex;
  align-items: center;
  background: #15580F;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: calc(12px + 0.5vw);
  font-weight: normal;
  padding: 0.3em;
  color: white;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {

  input {
    min-width: 15em;
  }

}

@media (max-width: 768px) {

  input {
    min-width: 10em;
  }

}