<div id="pageContainer">
    <div id="buttonsContainer">
        <button routerLink="/home">
            <span class="material-icons">home</span>
        </button>
        <button (click)="startGame()" *ngIf="user.isOwner">
            <span class="material-icons">play_arrow</span>
            Comenzar Partida
        </button>
        <button routerLink="/sala" *ngIf="!(user.lobby === 'none')">
            <span class="material-icons">keyboard_return</span>
            Volver a la sala
        </button>
        <button *ngIf="!(user.lobby === 'none')" (click)="quitGame()">
            <span class="material-icons">logout</span>
            Salir de la partida
        </button>
    </div>
    <h1 *ngIf="!hasStarted">Esperando al resto de jugadores...</h1>
    <div id="players">
        <ng-container *ngFor="let player of game.participants">
            <div id="player">
                <span class="material-icons">person</span>
                <u>{{ player.name }}</u>
            </div>
        </ng-container>
    </div>


    <ng-container *ngFor="let player of game.participants">
        <ng-container *ngFor="let card of player.hand">
            {{ card.id }}
        </ng-container>
    </ng-container>
</div>
