/* You can add global styles to this file, and also import other style files */
* {
    /*margin: 0;*/
    /*padding: 0;*/
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans Condensed', serif;
}

html, body { height: 100%; }


body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #15580F;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}
