<div id="page-container">
    <div id="title-container">
        <h1>TUS CARTAS</h1>
    </div>
    <div id="cards-container">
        <div id="card-element1">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element2">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element3">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element4">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element5">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element6">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element7">
            <img src="/assets/card-prototype.png">
        </div>
        <div id="card-element8">
            <img src="/assets/card-prototype.png">
        </div>
    </div>

    <div id="button-container">
        <div id="banner">
            VER TABLERO
        </div>
        <div id="banner">
            LANZAR
        </div>
    </div>
</div>
