<div id="pageContainer">
    <div id="amigos">
        <span class="material-icons topIcon">people</span>
        Amigos
        <span class="material-icons bottomIcon">people</span>
    </div>

    <div id="friendsContainer">
        <h1>Mi identificador: {{ currentUserFriendIdentifier }}</h1>
        <div id="buttonsContainer">
            <button routerLink="/home">
                <span class="material-icons">home</span>
            </button>
            <button (click)="openNotificationDialog()">
                <span class="material-icons">inbox</span>
                Buzón
            </button>
            <button (click)="addFriendDialog()">
                <span class="material-icons">person_add</span>
                Añadir amigo
            </button>
        </div>

        <div id="friendList" *ngFor="let friend of friendList">
            <div class="friendRegister">
                <span class="material-icons">check_circle_outline</span>
                <u>{{friend.name}}</u>
                <div class="friendInfoAndActions">
                    <button (click)="deleteFriendDialog(friend, currentUserId, currentUserName)" class="deleteFriendButton">
                        <span class="material-icons">delete</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>