<p class="appName1">LA BARAJA</p>
    <div class="flexContainer">
        <div class="tittleField1">
            <div class="tittleField2">
                <span class="material-icons">
                    supervisor_account
                </span>
                <strong>AMIGOS</strong>
                <span class="material-icons" style="transform: rotate(-180deg); align-items: flex-end;">
                    supervisor_account
                </span>
            </div>
        </div>

        <div class="friendsContainer">
            <button class="returnButton">
                <span class="material-icons">
                    west
                </span>
                <b>Volver</b>
            </button>
            <div class="friendList">
                <div class="friendInfo">
                    <div style="display: flex;">
                        <span class="material-icons">
                            check_circle_outline
                        </span>
                        <div>JuanManuElMed</div>
                    </div>
                    <div style="display: flex;">
                        <span class="material-icons">
                            more_horiz
                        </span>
                        <b>Estado:  </b> Conectado
                    </div>
                </div>
                <div class="friendInfo">
                    <div style="display: flex;">
                        <span class="material-icons">
                            check_circle_outline
                        </span>
                        <div>Nikhil</div>
                    </div>
                    <div style="display: flex;">
                        <span class="material-icons">
                            more_horiz
                        </span>
                        <b>Estado:  </b> Conectado
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>


    </div>
<p class="appName2">LA BARAJA</p>
